<a href="https://colab.research.google.com/github/hemu2014/python-data-test/blob/main/2%20-%20Pandas%20Series%20exercises%E2%80%94%E2%80%9433.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.2

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [2]:
# your code goes here
pd.Series()

Series([], dtype: object)

In [3]:
pd.Series()

Series([], dtype: object)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [6]:
# your code goes here
a = ["a", "v", 1]
print(a, type(a))

c = pd.Series(a)
print(c, type(c))

['a', 'v', 1] <class 'list'>
0    a
1    v
2    1
dtype: object <class 'pandas.core.series.Series'>

In [5]:
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y)) # different type

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [7]:
# your code goes here
a = pd.Series(["a", "b", "c"])
a.name = "My test"
a

0    a
1    b
2    c
Name: My test, dtype: object

In [8]:
X = pd.Series(['A','B','C'])

X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [9]:
# your code goes here
a = pd.Series([1,33,4.5, "a", True])
a.values

array([1, 33, 4.5, 'a', True], dtype=object)

In [10]:
X = pd.Series(['A','B','C'])

X.values

array(['A', 'B', 'C'], dtype=object)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [16]:
# your code goes here
a = pd.Series([1,2,3])
index_names = ['first', 'second', 'third']
a.index = index_names
a

first     1
second    2
third     3
dtype: int64

In [12]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

X['first'] - 明确的标签索引，没有问题

X[0] - 当前可能被解释为位置或标签，未来将只作为标签

X.iloc[0] - 明确的位置索引，推荐方式

In [19]:
# your code goes here
a = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
print(a[0], a.iloc[1], a["first"])

A B A

<ipython-input-19-f61ace92dfb3>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a[0], a.iloc[1], a["first"])

In [21]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index
print(X['first'], X[1], X.iloc[0])

A B A

<ipython-input-21-bd45a693cb96>:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(X['first'], X[1], X.iloc[0])

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

通过下标进行访问

In [22]:
# your code goes here
a = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
print(a[-1], a.iloc[-1], a["third"])

C C C

<ipython-input-22-6ec4aae21714>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a[-1], a.iloc[-1], a["third"])

In [23]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

'C'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [24]:
# your code goes here
a= pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
print(a["second": "forth"])
print(a.iloc[1: -1])
print(a[1: -1])

second    B
third     C
forth     D
dtype: object
second    B
third     C
forth     D
dtype: object
second    B
third     C
forth     D
dtype: object

In [25]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

second    B
third     C
forth     D
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [26]:
# your code goes here
a = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
a.iloc[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

推荐使用iloc[]方法

In [27]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [33]:
a = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
a['first':'fifth']
print(a['first':'fifth'])
print(a['first':'fifth':-1]) # 错误

first     A
second    B
third     C
forth     D
fifth     E
dtype: object
Series([], dtype: object)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [36]:
# your code goes here
a = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
print(a.iloc[[0, -1]])
print(a[['first', 'fifth']])

first    A
fifth    E
dtype: object
first    A
fifth    E
dtype: object

In [37]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

<ipython-input-37-174391de7b2c>:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  X[[0, -1]]

first    A
fifth    E
dtype: object

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [43]:
# your code goes here
a = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
pd.Series(a, index=["first", 'forth', "a"], dtype=np.float32)

first    1.0
forth    4.0
a        NaN
dtype: float32

In [40]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float64)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [45]:
# your code goes here
a = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
print(a.iloc[::-1])

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [46]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

sort_values默认升序，使用ascending为false进行降序

In [49]:
# your code goes here
a = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

a = a.sort_values(ascending=False)
a

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [48]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [50]:
# your code goes here
a = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
a.iloc[4] =10
a

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [53]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X['E'] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [55]:
# your code goes here
a = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
a.iloc[1:-1] = 0
a

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [57]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X["B": "D"] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [63]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[(X > 1) & (X < 5)] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [64]:
# your code goes here
a = pd.Series([1,2,3,4,5])

a * 3

0     3
1     6
2     9
3    12
4    15
dtype: int64

In [65]:
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [67]:
from re import A
# your code goes here
a = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = a <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [68]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

类似于numpy数组的操作

In [71]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0])

mask = X < 0
X[mask]

0   -1
3   -4
dtype: int64

In [70]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [72]:
# your code goes here
a= pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = a > 5
a[mask]

5     6
9    10
dtype: int64

In [73]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [74]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X[X > X.mean()]

1     2
4     5
5     6
9    10
dtype: int64

In [75]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [76]:
# your code goes here
a = pd.Series([-1,2,0,-4,5,6,0,0,-9,10,3,3])
a[(a == 2) | (a == 3)]

1     2
10    3
11    3
dtype: int64

In [77]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

all所用都为真才为真

In [81]:
# your code goes here
a = pd.Series([-1,2,-4,5,6,-9,10])

a.all()

np.True_

In [79]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

np.False_

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

any只要有一个为真就为真

In [85]:
# your code goes here
a = pd.Series([0,0,0,-9,0])

a.any()

np.True_

In [84]:
a = pd.Series([0,0,0,])

a.any()

np.False_

In [82]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

np.True_

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [86]:
# your code goes here
a = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
print(a.sum(), np.sum(a))

43 43

In [87]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

np.int64(43)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [92]:
# your code goes here
a = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
print(a.mean(), np.mean(a))

3.7 3.7

In [89]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

np.float64(3.7)

In [95]:
a = pd.Series([1,2,0,4,5,6,0,0,9,10])
a.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

与numpy类似

In [96]:
# your code goes here
a = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
print(a.max(), np.max(a))
print(a.min(), np.min(a))
print(a.median(), np.median(a))
print(a.std(), np.std(a))
print(a.var(), np.var(a))

10 10
0 0
3.0 3.0
3.7431418769679454 3.551056180912941
14.011111111111113 12.610000000000001

In [97]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

10

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)